@model RSVPViewModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<script>

function setDateOfNextClass() {

var date = sessionStorage.getItem("_dateOfNextClass");
var newDate = @Html.Raw( @HttpContextAccessor.HttpContext.Session.GetString("_dateOfNextClass").ToString());
var splitDate;
var splitNewDate;

    if(date !== null){
        splitDate = date.split("T")[0];
        splitNewDate = newDate.split("T")[0];
    }
    if (splitDate !== splitNewDate) {
        localStorage.removeItem("InspIntData");
    }

    sessionStorage.setItem("_dateOfNextClass", newDate)
}

setDateOfNextClass();
  
  </script>


<aside>
    <div class="rsvp-cover">
        <!-- This div element and its contents are meant for the preloader functionality only. -->
        <div id="preloader" class="lds-css ng-scope">
            <div style="width:100%;height:100%" class="lds-rolling">
               <div></div>
            </div>
        </div>

        <div id="will-you-rsvp" style="display: none    ;">
            <p>
                <span class="salute">Hello,</span>
                <br>
                <span class="showNextClass">Join us in our next class </span>
                <br>
                RSVP Here.
                <button id="rsvp-ok">Okay</button>
            </p>
        </div>

        <div id="get-phoneNumber" style="display: none;">
                <fieldset>
                    <legend align="center">RSVP</legend>
                    <p>Please submit your phone number so we can contact you.</p>
                    <form method="Post" id="phoneNumber-form">
                        <div>
                            <label for="PhoneNumber">Phone number</label>
                            <input asp-for="PhoneNumber" class="text-input" required="" id="phoneNumber-input" type="tel" placeholder="Your number...." >
                            <span asp-validation-for="PhoneNumber"></span>
                            <button id="submit-no" type="submit" class="btn">Submit</button>
                            <button id="decline-submit" class="btn">Decline</button>
                        </div> 
                    </form> 
                </fieldset>
        </div>


        <div id="rsvp-done" style="display: none;">
                <p>
                    <span class="salute">Hello,</span>
                    <br>
                    <span class="showNextClass"> We are expecting you in the class</span>
                </p>
        </div>
    </div>
</aside>




@section Script{
    <partial name="_ValidationScriptPartial"/>
}