@model RSVPViewModel   
 
    <!-- <div class="rsvp-cover">
                @if(User.Identity.IsAuthenticated && (Model.PhoneNumber == null))
                {
                        <fieldset>
                            <legend align="center">RSVP</legend>
                            <p>Please submit your phone number so we can contact you.</p>
                            <form method="Post" id="rsvp-form">
                                <div>
                                    <label for="PhoneNumber">Phone number</label>
                                    <input asp-for="PhoneNumber" class="text-input" id="text-input-1" type="text" >
                                    <span asp-validation-for="PhoneNumber"></span>
                                    <button id="submit-no" type="submit" class="btn">Submit</button>
                                    <button id="decline-submit" class="btn">Decline</button>
                                </div> 
                            </form> 
                        </fieldset>
                }
                else
                {
                        <p>
                            <span>Hey @Model.FirstName </span>
                            <br>
                            We are expecting you in the class on
                        </p>
                }
    </div> -->