    <div class="rsvp-cover">
            <p>
                <span>Hey @Model.FirstName </span>
                <br>
                We are expecting you on the class on Sunday 25 August 2019?
            </p>
    </div>