<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      throwConfigExceptions="true"
      >

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets >
    <target name="console"
            xsi:type="ColoredConsole"
            layout="${level} | ${date:format=HH\:mm\:ss} | ${Logger} | ${message} | ${exception}" />
    <target name="file"
            xsi:type="File" fileName="${currentdir}/Logs.txt"
            layout="${level} | ${date:format=HH\:mm\:ss} | ${Logger} | ${message} | ${exception}" />
    <target name="info"
            xsi:type="File" fileName="${currentdir}/Logs.txt" 
            layout="${level} | ${date:format=HH\:mm\:ss} | ${Logger} | ${message} " />
  </targets>

  <rules>
    <logger name="*" 
            minlevel="Trace" 
            writeTo="console,file" />
  </rules>
</nlog>