<div class="text-center">
    <h1>About Inspiration International</h1>
</div>

    <a asp-controller="Home" asp-action="Index">Go Back</a>


@section RSVP 
{
    <partial name="_RSVPPartial"/>
}


@section Scripts {
        <partial name="_ValidationScriptsPartial"/>
        <partial name="_MyScriptsPartial" />
}

<script>
var listItem = document.getElementById("aboutUs");
listItem.classList.add("primary");
</script>