@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1>About Inspiration International</h1>

<p>
    Welcome to Inspiration International, a web created to unveil mankind to the uniqueness of 
    individuality and the discovery of purpose dynamism.
    It will awaken the giant within you and give you a countless reasons why you mustn't give up.
</p> 
<img class="team" src="../icons/IMG-20190816-WA0005.jpg" alt="The Inspiration International team.">
<img class="team" src="../icons/IMG-20190816-WA0003.jpg" alt="The Inspiration International team.">
<p>
    Our vision is to make everyone standout in whatever they do. 
    Some of these trainings are through our professional course.
</p>
<ul>
    <li>Human Resource Management</li>
    <li>Project and Logistic Management</li>
    <li>Customer Care Management</li>
    <li>Organisational Management</li>
    <li>Time management, e.t.c...</li>
</ul>

<p>
    Skill acquisition is another additional training in bringing out our born identity. 
    Inspiration International is a platform for discovery.
</p>

<p>
    Our goal is make legends out of the imprisoned. 
    Build a lasting hope in them. We also have passion for  widows, 
    by making them rebuild their families.
</p>

<p>
    <b>Inspiration International!</b>
</p>


<p>
    <b>World changers!!</b>
</p>
<hr>
<h2>About The CEO</h2> 

<img class="ceo" src="../icons/IMG-20190731-WA0002.jpg" alt="A picture of the C.E.O">
<p>
    As constitutionally ranked. Major Coach Oris Adeoye Sunday, 
    a life coach on social blending, ideologies, psychological exactness and moral stability.
    I graduated with a PDE in University of Education, PDE in Psychological Communication, 
    , HND in Mass Communication and MSC in Theological Science.
</p>

<p>
    I started my career as a radio presenter at Eko FM, Ikeja, Lagos State. 
    Later proceeded to becoming a lecturer at Wolex polytechnic, and later moved into the city of Abuja, 
    became a guru presenter at Jordan FM. After some years, became a banker at Fist City Monument Bank (FCMB). 
    In my journey of life, I have been a programme/seminar organizer where people come and get motivated about moving on to greater heights. 
    I have written several books and released different motivational audio/video messages.
</p>

<p>
    Everyone is a coach irrespective of tribe, language, sex, religion, social class or educational background.
</p>
</div>

    <a asp-controller="Home" asp-action="Index" class="btn">Back</a>


@section RSVP 
{
    <partial name="_RSVPPartial"/>
}


@section Scripts {
        <partial name="_ValidationScriptsPartial"/>
        <partial name="_MyScriptsPartial" />
}

<script>
var listItem = document.getElementById("aboutUs");
listItem.classList.add("primary");
</script>