<div class="text-center">
    <h1>Acquire a skill.</h1>
    <p>
        It is no longer news that for one to survive in this present economy one has to have a skill or a service
        that they can render in exchange for money.
    </p>
<p>Learn a skill today.</p>

    <a asp-controller="Home" asp-action="Index">Go Back</a>


</div>

@section RSVP 
{
    <partial name="_RSVPPartial"/>
}


@section Scripts {
        <partial name="_ValidationScriptsPartial"/>
        <partial name="_MyScriptsPartial" />
}