@{
    ViewData["Title"] = "Get Inspired";
}
    
    <h1>@ViewData["Title"]</h1>  

<div class="text-center fullscreen">
    <p>Coming soon....</p>
    <a asp-controller="Home" asp-action="Index" class="btn">Go Back</a>
</div>

@section RSVP 
{
    <partial name="_RSVPPartial"/>
}


@section Scripts {
        <partial name="_ValidationScriptsPartial"/>
        <partial name="_MyScriptsPartial" />
}

<script>
var listItem = document.getElementById("getInspired");
listItem.classList.add("primary");
</script>