<div class="text-center">
    <h1>Get Inspired page</h1>
    <p>Coming soon....</p>
</div>

@section RSVP 
{
    <partial name="_RSVPPartial"/>
}


@section Scripts {
        <partial name="_ValidationScriptsPartial"/>
        <partial name="_MyScriptsPartial" />
}