<div class="text-center">
    <h1>Get a professional C.V.</h1>
    <p>Have your C.V. reviewed or prepared by professionals.</p>
</div>

<a asp-controller="Home" asp-action="Index">Go Back</a>


@section RSVP 
{
    <partial name="_RSVPPartial"/>
}


@section Scripts {
        <partial name="_ValidationScriptsPartial"/>
        <partial name="_MyScriptsPartial" />
}