@{
    ViewData["Title"] = "Get Professional C.V.";
}

<div class="text-center fullscreen">
    <h1>Get a professional C.V.</h1>
    <p>Have your C.V. reviewed or prepared by professionals.</p>
    <a class="btn" asp-controller="Home" asp-action="Index">Go Back</a>
</div>


@section RSVP 
{
    <partial name="_RSVPPartial"/>
}


@section Scripts {
        <partial name="_ValidationScriptsPartial"/>
        <partial name="_MyScriptsPartial" />
}