@model RSVPViewModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <div align-centre=""><h2>BECOME A WORLD CHANGER TODAY! </h2> </div>
    <!-- <h1 class="display-4">WELCOME TO INSPIRATION INTERNATIONAL</h1>
    <h2 class="display-3">LEADERSHIP/CAREER TRAINING INSTITUTE</h2>
    <h3 class="display-2">(World Changers!)</h3>
    <p class="">We offer the best professional/leadership courses to boost your CV  </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>
<div card-container="">
    <div class="card"><img src="../icons/training-icon-min-2.png" width="100" height="100">
    <p>Acquire a professional certification that will help boost your portfolio and marketability and whara whara what what. Join us today.</p> 
    <a asp-area="" asp-controller="Home" asp-action="Index">More</a>
    </div>
    <div class="card"><img src="../icons/toolbox-icon-5.png" width="100" height="100">
    <p>Acquire a professional certification that will help boost your portfolio and marketability and whara whara what what. Join us today.</p> 
    <a asp-area="" asp-controller="Home" asp-action="Index">More</a>
    </div>
    <div class="card"><img src="../icons/resume-icon.png" width="100" height="100">
    <p>Acquire a professional certification that will help boost your portfolio and marketability and whara whara what what. Join us today.</p>   
    <a asp-area="" asp-controller="Home" asp-action="Index">More</a>
    </div>

    <!-- <img src="https://graph.facebook.com/{}/picture?type=large"> -->
</div>

@section RSVP 
{
    <partial name="_RSVPPartial"/>
}


@section Scripts {
        <partial name="_ValidationScriptsPartial"/>
        <partial name="_MyScriptsPartial" />
}