@model RSVPViewModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <div align-centre=""><h2>BECOME A WORLD CHANGER TODAY! </h2> </div>
</div>
<div card-container="">
    <div class="card"><img src="../icons/training-icon-min-2.png" width="100" height="100">
    <p>
    Acquire Professional Certifications that will boost your portfolio and marketability. 
    Get yourself ready for that big role you have always admired. Be one of the most sought after professionals.
    Join us today.
     </p> 
    <a class="button" asp-area="" asp-controller="Home" asp-action="ProfessionalCourses">More</a>
    </div>
    <div class="card"><img src="../icons/toolbox-icon-5.png" width="100" height="100">
    <p>
    Become future proof. Learn a skill today that will enable you adapt easily to economic changes,
    increase your productivity, and become self-employed. Join us today.
    </p> 
    <a class="button" asp-area="" asp-controller="Home" asp-action="AcquireSkill">More</a>
    </div>
    <div class="card"><img src="../icons/resume-icon.png" width="100" height="100">
    <p>
    Stand out among the crowd. Get your C.V. reviewed by experts. 
    Position yourself to get your dream job. Join us today.
    </p>   
    <a class="button" asp-area="" asp-controller="Home" asp-action="GetProfessionalCV">More</a>
    </div>

</div>

@section RSVP 
{
    <partial name="_RSVPPartial"/>
}


@section Scripts {
        <partial name="_ValidationScriptsPartial"/>
        <partial name="_MyScriptsPartial" />
}


<script>
var listItem = document.getElementById("home");
listItem.classList.add("primary");
</script>