@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section RSVP 
{
    <partial name="_RSVPPartial"/>
}

@section Scripts {
        <partial name="_MyScriptsPartial" />
}