    <h1>Professional Courses</h1>
    <p>Choose from the professional course we offer.</a>
    <ul>
    <li><a href="#">Customer Care Representative.</a></li>
    <li><a href="#">Project management professional</a></li>
    <li><a href="#">Human Resources Management</a></li>
    </ul>
@section RSVP 
{
    <partial name="_RSVPPartial"/>
}


@section Scripts {
        <partial name="_ValidationScriptsPartial"/>
        <partial name="_MyScriptsPartial" />
}