    @{
    ViewData["Title"] = "Professional Courses";
}
<div class="main-container bg-white text-center">
    
    <h1>@ViewData["Title"]</h1>
    <p>
    Highly successful people have a common characteristic which is the never quenching thirst for knowledge. 
    This is why businesses, corporations and highly ambitious institutions only go after people with great thirst for knowledge. 
    This is one of the reasons why it is recommended for one to adopt the philosophy of continuous education.
    </p>
    <p>
    At Inspiration International, our main mission is to help your achieve your aims of acquiring useful knowledge in a well structured and time conscious manner. 
    And to top it all off, we offer these courses at very affordable costs.
    </p>

    <p> The courses we offer include:  </p>
    <ul>
    <li><a asp-controller="Home" asp-action="CustServiceMgt">Customer Service Management</a></li>
    <li><a asp-controller="Home" asp-action="ProjectManagement">Project Management</a></li>
    <li><a asp-controller="Home" asp-action="HRM">Human Resource Management</a></li>
    </ul>

    <p>
    These courses will have the added benefits of keeping your qualifications up to date, build your professional credibility,
    showcase your will to improve and also boost your C.V.
    </p>

    &nbsp;&nbsp;<a class="btn" asp-controller="Home" asp-action="Index">Go Back</a>
</div>
@section RSVP 
{
    <partial name="_RSVPPartial"/>
}


@section Scripts {
        <partial name="_ValidationScriptsPartial"/>
        <partial name="_MyScriptsPartial" />
}


<script>
var listItem = document.getElementById("courses");
listItem.classList.add("primary");
</script>