@page
@model ConfirmYourEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Please check your email, 
        we have sent a link there. Please click on it to complete your registration.
    </p>
</div>
