@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="main-container bg-white">
    <h2>@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>
</div>
@section Scripts {
        <partial name="_MyScriptsPartial" />
}